<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atlanta Food Finder - Forgot Password</title>
  <link rel="stylesheet" href="{% static 'restaurants/style.css' %}">
</head>
<body>
  <div class="launch userActionSection">
    <div class="flex_col">
      <h1>Forgot Your Password?</h1>

      <!-- Password reset form -->
      <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="group">
          <label for="email">Enter your email address:</label>
          <input type="email" name="email" id="email" required>
        </div>
        <button type="submit" class="logInButton">Reset Password</button>
      </form>
    </div>
  </div>
</body>
</html>
