<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/Login.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/userauth.css' %}" />
</head>
<body class="flex-column">
    <div class="login root">
        <div class="flex_col">
            <img class="image" src="{% static 'restaurants/images/logo.png' %}" alt="alt text" />
            <h1 class="title">welcome back!</h1>
            <form action="{% url 'submit_login' %}" method="POST">
                {% csrf_token %}
                <div class="group">
                  <div class="input_wrapper">
                    <label for="username" class="highlight"></label>
                    <input type="text" id="username" name="username" required placeholder="username" />
                </div>
                <div class="input_wrapper">
                    <label for="password" class="highlight"></label>
                    <input type="password" id="password" name="password" required placeholder="username" />
                </div>
                
                </div>
                <button type="submit" class="btn">log in</button>
            </form>
            <div class="signUpPromptDiv">
                <a href="{% url 'signup' %}">don’t have an account? sign up</a>
            </div>
            <div class="forgotPasswordTextDiv">
                <a href="{% url 'forgot_password' %}">forgot password?</a>
            </div>
        </div>
    </div>
</body>
</html>
