<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Profile.css" />

  </head>

  <body class="flex-column">

    <div class="profile profileSection">
      <div class="flexColumnContainer">
        <img class="profileImage" src="/assets/95ac6ca488040e5894c17f5099baf984.svg" alt="alt text" />
        <!-- This image represents the user&#x27;s profile. -->
        <div class="groupContainer">
          <div class="flexColumnOne">
            <div class="flexColumnTwo">
              <div class="backgroundColorOne"></div>
              <div class="flexColumnThree">
                <h2 class="fullNameHeader">FNAME LNAME</h2>
                <p class="usernameHighlight">username</p>
              </div>
            </div>
            <div class="flexColumnFour">
              <h2 class="favoritesHeader">my favorites</h2>
              <div class="contentBox">
                <!-- Contains a card for each favorite restaurant. -->
                <div class="flexRowOne">
                  <img class="restaurantImageOne" src="/assets/e1334ae7182e1c97539c137218830626.svg" alt="alt text" />
                  <!-- Image representing Restaurant #1 -->
                  <div class="flexColumnFive">
                    <p class="cuisineDescriptionOne">CUISINE</p>
                    <h3 class="restaurantOneSubtitle">RESTAURANT #1</h3>
                    <div class="detailsLinkOne">
                      <!-- Link to view more details about Restaurant #1. -->
                      see details
                    </div>
                  </div>
                </div>
              </div>
              <div class="contentBoxOne">
                <!-- Contains Restaurant #2 information card. -->
                <div class="flexRowTwo">
                  <img class="restaurantImageTwo" src="/assets/edb955c5f62e60f4eb24f658cc51b6e0.svg" alt="alt text" />
                  <!-- Image representing Restaurant #2 -->
                  <div class="flexColumnFiveTwo">
                    <p class="cuisineDescriptionTwo">CUISINE</p>
                    <h3 class="restaurantTwoSubtitle">RESTAURANT #2</h3>
                    <div class="detailsLinkTwo">
                      <!-- Link to view more details about Restaurant #2. -->
                      see details
                    </div>
                  </div>
                </div>
              </div>
              <div class="contentBoxTwo">
                <!-- Contains Restaurant #3 information card. -->
                <div class="flexRowThree">
                  <img class="restaurantImageThree" src="/assets/edb955c5f62e60f4eb24f658cc51b6e0.svg" alt="alt text" />
                  <!-- Image representing Restaurant #3 -->
                  <div class="flexColumnFiveThree">
                    <p class="cuisineDescriptionThree">CUISINE</p>
                    <h3 class="restaurantThreeSubtitle">RESTAURANT #3</h3>
                    <div class="detailsLinkThree">
                      <!-- Link to view more details about Restaurant #3. -->
                      see details
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="returnSubtitle"> &lt; return</h3>
          <div class="backgroundColorTwo"></div>
          <button class="editProfileButton">
            <!-- TODO -->
            <p class="editButtonText">edit profile</p>
            <img class="editButtonIcon" src="/assets/f0d6448d05c2fb68f9349dec18e1749b.svg" alt="alt text" />
          </button>
        </div>
      </div>
    </div>

  </body>

</html>
